html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #006363;
    font-size: 18px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}

.navigation-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #006363;
}

.navigation-link:hover {
    text-decoration: none; 
    cursor: pointer;  
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #006363;
    color: white;
}

h1 {
    font-size: 60px;
}

.photo {
    margin: 30px;
    border-radius: 10px;
}

.main-information {
    flex-grow: 2;
    text-align: center;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    padding: 10px 30px;
}

.footer {
    font-size: 20px;
    font-weight: bold;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.git-hub-img, .school-img {
    height: 40px;
    opacity: 0.5;
}

.year {
    font-size: 1.5em;
}
